useDynLib(Biobase, copyEnv_sym=copyEnv, sublist_extract)

import(methods)

exportClasses(aggregator, container, eSet, phenoData,
              MIAxE, MIAME, characterORMIAME,
              annotatedDataset, AssayData, data.frameOrNULL,
              exprSet, AnnotatedDataFrame,
              Versions, VersionsNull, Versioned, VersionedBiobase,
              ExpressionSet, MultiSet, SnpSet, NChannelSet,
              ScalarObject, ScalarInteger, ScalarLogical, ScalarNumeric,
              ScalarCharacter)

exportMethods("[", "[[", "$", abstract, aggenv, aggfun,
              annotatedDataFrameFrom, annotation,
              channel, channelNames, coerce,
              combine, content, contents, description, dims, eList,
              experimentData, expinfo, exprs,
              featureNames, featureData, fData, fvarLabels, fvarMetadata,
              geneNames, getExpData,
              hybridizations, initfun,
              length, locked, makeDataPackage, normControls, notes, otherInfo, pData,
              phenoData, preproc, protocolData, sampleNames, samples, se.exprs,
              selectChannels, snpCall, snpCallProbability, storageMode,
              varLabels, varMetadata,
              "annotation<-", "description<-", "dimLabels<-", "eList<-",
              "experimentData<-", "exprs<-",
              "featureNames<-", "featureData<-", "fData<-", "fvarLabels<-", "fvarMetadata<-",
              "geneNames<-", "notes<-", "preproc<-", "pData<-",
              "phenoData<-", "protocolData<-", "sampleNames<-",
              "snpCall<-", "snpCallProbability<-", "varLabels<-",
              "varMetadata<-", "assayData<-", "se.exprs<-",  "storageMode<-",
              "write.exprs", dim, dimLabels, assayData, reporterNames, "reporterNames<-",
              pubMedIds, "pubMedIds<-",
              isVersioned, isCurrent, classVersion, "classVersion<-",
              updateObject, updateObjectTo,
              initialize, show, Compare,

              "counts", "counts<-",
              "design", "design<-",
              "dispTable", "dispTable<-",
              "sizeFactors", "sizeFactors<-",
              "conditions", "conditions<-",
              "estimateSizeFactors", 
              "estimateDispersions",
              "AnnotatedDataFrame",
              "ExpressionSet")

export("Aggregate",
       "addVigs2WinMenu",
       "anyMissing",
       "as.data.frame.ExpressionSet",
       "assayDataNew", "assayDataValidMembers",
       assayDataElementNames,
       assayDataElement, assayDataElementReplace, "assayDataElement<-",
       "biocReposList", "cache", "copyEnv", "copySubstitute", "getObjectSlots",
       "createPackage", "df2pD", "dumpPackTxt", "esApply",
       "getPkgVigs", "isUnique", "l2e", "listLen", "matchpt", "mkScalar",
       "multiassign", "note", "openPDF","openVignette", "package.version",
       "reverseSplit", "rowMax", "rowMedians", "rowMin", "rowQ",
       read.exprSet, read.phenoData, read.pD,
       readExpressionSet, read.AnnotatedDataFrame, read.MIAME, MIAME,
       "selectSome", "strbreak", "subListExtract", "testBioCConnection",
       "lcSuffix", "lcPrefix", "lcPrefixC",
       "updateOldESet", "updateObjectFromSlots", "userQuery", "validMsg")
