useDynLib(Biobase)

import(tools)

exportClasses(aggregator, container, eSet, phenoData,
              MIAME, characterORMIAME,
              annotatedDataset, AssayData, data.frameOrNULL,
              exprMatrix, exprSet, AnnotatedDataFrame,
              ExpressionSet, SnpSet)

exportMethods("[", "[[", "$", abstract, addVarMetadataEntry, aggenv, aggfun,
             annotation, coerce,
             combine, content, contents, convertVarLabels, description, dims, eList,
             experimentData, expinfo, exprs, exprs2excel, featureNames, geneNames, getExpData,
             getUnits, getVarMetadata, hybridizations, initfun, iter,
             length, locked, normControls, ncol, notes, otherInfo, pData,
             phenoData, preproc, sampleNames, samples, "se.exprs", show,
             split, storageMode, update2MIAME, varLabels, varMetadata, reporterInfo,
              "annotation<-", "description<-", "eList<-",
             "experimentData<-", "exprs<-", "featureNames<-", "geneNames<-", "notes<-", "pData<-",
             "phenoData<-", "sampleNames<-", "varLabels<-", "varMetadata<-", "assayData<-", "reporterInfo<-",
             "se.exprs<-",  "storageMode<-", "write.exprs",
             "as.data.frame.exprSet", dim, assayData, reporterNames,
	     pubMedIds, "pubMedIds<-",
             initialize)

export("Aggregate", "addNonExisting", "addPDF2Vig",
       "addVig2Menu", "addVig4Unix", "addVig4Win", "addVigs2WinMenu",
       "assayDataNew", "assayDataValidMembers",
       "assayDataElementNames", "assayDataElement", "assayDataElementReplace",
       "biocReposList", "cache", "copyEnv", "copySubstitute", 
       "createPackage", "df2pD", "dumpPackTxt", "esApply", 
       "getPkgVigs", "isUnique", "l2e", "listLen", "matchpt", 
       "multiassign", "note", "openPDF","openVignette", "package.version", 
       "reverseSplit", "rowMax", "rowMedians", "rowMin", "rowQ", 
       "read.exprSet", "read.phenoData", "read.MIAME", "read.pD",
       "strbreak", "testBioCConnection",
       "updateOldESet")
